@import "color";
@import "spacing";

$primaryColor: #4A4A4A;
$secondColor: #979797;
$greenColor: #6AAE21;
$transitionTime: .3s;

$contentWidth: 1000px;

html {
  font-size: 14px;
  line-height: 24px;
}

