@import "color";
@import "spacing";
@import "animate";

$primaryColor: #4A4A4A;
$primaryColor50: rgba(74, 74, 74, .5);
$secondColor: #979797;
$greenColor: #6AAE21;
$transitionTime: .3s;
$headerHeight: 80px;

$contentWidth: 900px;

html {
  font-size: 14px;
  line-height: 24px;
}

.c-btn {
  cursor: pointer;
}

