.c-gap-top {
  margin-top: 10px;
}

.c-gap-top-small {
  margin-top: 5px;
}

.c-gap-top-large {
  margin-top: 15px;
}

.c-gap-bottom {
  margin-bottom: 10px;
}

.c-gap-bottom-small {
  margin-bottom: 5px;
}

.c-gap-bottom-large {
  margin-bottom: 15px;
}

.c-gap-left {
  margin-left: 10px;
}

.c-gap-left-small {
  margin-left: 5px;
}

.c-gap-left-large {
  margin-left: 15px;
}

.c-gap-right {
  margin-right: 10px;
}

.c-gap-right-small {
  margin-right: 5px;
}

.c-gap-right-large {
  margin-right: 15px;
}
