// 全局间距样式

// margin

.c-gap-top {
  margin-top: 10px;
}

.c-gap-top-small {
  margin-top: 5px;
}

.c-gap-top-large {
  margin-top: 15px;
}

.c-gap-bottom {
  margin-bottom: 10px;
}

.c-gap-bottom-small {
  margin-bottom: 5px;
}

.c-gap-bottom-large {
  margin-bottom: 15px;
}

.c-gap-left {
  margin-left: 10px;
}

.c-gap-left-small {
  margin-left: 5px;
}

.c-gap-left-large {
  margin-left: 15px;
}

.c-gap-right {
  margin-right: 10px;
}

.c-gap-right-small {
  margin-right: 5px;
}

.c-gap-right-large {
  margin-right: 15px;
}

// padding

.c-gap-inner-top {
  padding-top: 10px;
}

.c-gap-inner-top-small {
  padding-top: 5px;
}

.c-gap-inner-top-large {
  padding-top: 15px;
}

.c-gap-inner-bottom {
  padding-bottom: 10px;
}

.c-gap-inner-bottom-small {
  padding-bottom: 5px;
}

.c-gap-inner-bottom-large {
  padding-bottom: 15px;
}

.c-gap-inner-left {
  padding-left: 10px;
}

.c-gap-inner-left-small {
  padding-left: 5px;
}

.c-gap-inner-left-large {
  padding-left: 15px;
}

.c-gap-inner-right {
  padding-right: 10px;
}

.c-gap-inner-right-small {
  padding-right: 5px;
}

.c-gap-inner-right-large {
  padding-right: 15px;
}

